In [ ]:
x是多分类与y进行检验

In [ ]:
1、先看x、y的类型
2、再从表中找到统计方法
3、从python中找到相应的检验

In [4]:
# 客户收入是否对开卡有影响
import os
import pandas as pd

os.chdir(r'E:\Ajiao\LiXian\资料\技术实详解与商业实战\280_Ben_八大直播八大案例配套课件\第四章\提交-第四讲：统计建模与分析报告-二手房价格分析报告\脚本\6inference')
creditcard = pd.read_csv(r'creditcard_exp.csv',encoding='gbk')
creditcard

,id,Acc,avg_exp,avg_exp_ln,gender,Age,Income,Ownrent,Selfempl,dist_home_val,dist_avg_income,age2,high_avg,edu_class
0,19,1,1217.03,7.104168743,1,40,16.03515,1,1,99.93,15.932789,1600,0.102361,3
1,5,1,1251.5,7.132098111,1,32,15.84750,1,0,49.88,15.796316,1024,0.051184,2
2,95,0,,,1,36,8.40000,0,0,88.61,7.490000,1296,0.910000,1
3,86,1,856.57,6.752936042,1,41,11.47285,1,0,16.10,11.275632,1681,0.197218,3
4,50,1,1321.83,7.186772419,1,28,13.40915,1,0,100.39,13.346474,784,0.062676,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,0,,,0,22,1.56000,0,0,68.33,1.840000,484,-0.280000,1
96,43,1,593.92,6.38674463,0,30,4.37960,0,0,124.23,5.040632,900,-0.661032,1
97,60,1,418.78,6.037345722,0,21,3.49390,0,0,34.46,3.828842,441,-0.334942,1
98,28,1,163.18,5.094853886,0,22,3.81590,0,0,63.27,3.997789,484,-0.181889,0
99,94,0,,,0,35,1.50000,0,0,109.16,1.930000,1225,-0.430000,1

In [ ]:
两样本T检验：看一个分类变量给另一个分类变量(或一个连续变量) 的均值是否有差异

In [5]:
#收入描述统计
creditcard['Income'].groupby(creditcard['Acc']).describe()

     count      mean       std     min       25%       50%       75%       max
Acc
0     30.0  3.149333  1.406482  1.5000  2.285000  2.905000  3.807500   8.40000
1     70.0  7.424706  3.077986  3.4939  5.175662  6.443525  8.494237  16.90015

In [8]:
# 两样本T检验
#第一步：方差齐次检验
from scipy import stats
Suc0 = creditcard[creditcard['Acc'] == 0]['Income']  #未开卡的人的收入
Suc1 = creditcard[creditcard['Acc'] == 1]['Income']  #开卡人的收入
leveneTestRes = stats.levene(Suc0,Suc1,center='median')
print('a-value=%6.4f,p-value=%6.4f'%leveneTestRes)

a-value=7.1829,p-value=0.0086

In [9]:
#进行T检验：结果中statistic指的是T值， pvalue指的是p值
stats.stats.ttest_ind(Suc0, Suc1, equal_var=False)

Ttest_indResult(statistic=-9.529516968736448, pvalue=1.3263066753296544e-15)

In [ ]:
p值很小，所以
第一步：原假设是开卡人的平均收入=未开卡人的平均收入
第二部：显著度：样本是150 所以显著度设为5%
第三步：样本采集
第四步：计算统计量 t = 【（样本量成功-不成功）-（开卡人平均收入-不开卡人平均收入）】/标准误
        也就是第一个样本均值-第二个样本均值-0（总体差值）/样本均值相减的标准误

In [ ]:
做T检验时，要做方差齐次检验
    因为现在不知道怎么做样本差值标准误，所以要方差齐次检验

In [ ]:
假设两个样本的标准差是相等的，做加权平均
若不等，